@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">

    <h1 style="font-weight:bold; text-align:center">LaLa's Pet Shop</h1>

                <p>
                    Bacon ipsum dolor sit amet filet mignon tail leberkas, jowl pastrami beef hamburger
                    ground round pancetta capicola drumstick pig. Sirloin filet mignon ball tip tongue
                    landjaeger pastrami.
                </p>

                <p>
                    <a href="PetInventory" class="btn btn-primary btn-large">Browse Pets &raquo;</a>
                </p>


            <img src="/Content/Images/husky_puppies_wide.jpg" class="img-responsive img-rounded" alt="Reponsive image">
</div>

