@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">

    <h1 style="font-weight:bold; text-align:center">LaLa's Pet Shop</h1>

                <p>
                    Bacon ipsum dolor sit amet et sausage meatball laboris sirloin turducken ea dolore. Turducken occaecat labore cillum bresaola culpa nulla reprehenderit shoulder rump brisket qui ex. Short ribs hamburger dolore shoulder spare ribs drumstick prosciutto consectetur nisi bacon labore sed sirloin. Esse cupidatat porchetta ut beef officia proident boudin labore sint corned beef qui. Landjaeger eiusmod strip steak, esse prosciutto consectetur do fatback shoulder. Shoulder turducken kevin, venison chicken occaecat bacon in. Exercitation nostrud veniam cillum capicola.
                </p>
                <p>
                    Chuck ea ut ullamco, beef ribs bresaola dolore nostrud aute andouille exercitation biltong laborum meatball tempor. Incididunt swine excepteur exercitation ut eiusmod irure tenderloin occaecat veniam. Exercitation proident in pork chop reprehenderit id meatloaf est porchetta pork loin filet mignon. Filet mignon turkey nisi leberkas cillum nulla. Eu cupidatat aliqua meatloaf in ad minim beef ribs turducken tenderloin. Sirloin filet mignon spare ribs shoulder magna meatloaf. Exercitation prosciutto short ribs sint, jerky ball tip proident jowl.
                </p>

                <p>
                    <a href="PetInventory" class="btn btn-primary btn-large">Browse Pets &raquo;</a>
                </p>


    <img src="Content/Images/husky_puppies_wide.jpg" class="img-responsive img-rounded" alt="Reponsive image">
</div>

